@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

body {
  font: 12px/1.5 Arial;
  color: #333;
}

select,
input,
button {
  vertical-align: middle;
  font-size: 100%;
}

ul,
ol {
  list-style: none;
}

em {
  font-style: normal;
}

.clearfix:after {
  content: ".";
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
  font-size: 0;
}

/* logo */
.wrapper {
  width: 1200px;
  margin: 0 auto;
}

.header {
  padding: 30px 0;
  background: #fff;
}

.header .tuan-head a {
  display: block;
  width: 200px;
  height: 50px;
  background-image: url(../src/img/img-index/zol-tuan.png);
  background-repeat: no-repeat;
  font: 0/0 arial;
  overflow: hidden;
  float: left;
}

.header .channel {
  float: left;
  margin: 0 0 0 20px;
  padding: 0 0 0 20px;
  border-left: 1px solid #eee;
  font: 20px/50px "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1";
}

/* search */
.search-box {
  float: right;
  margin: 7px 0 0 0px;
}

.search-box .search {
  position: relative;
  width: 536px;
  line-height: 32px;
  border: 2px solid #ec3639;
}

.search-box .search-hot-tuan {
  position: absolute;
  bottom: -30px;
  left: 0;
}

.search-box .search-hot-tuan li {
  float: left;
  margin-right: 20px;
  line-height: 20px;
}

.search-box .search-hot-tuan li a {
  color: #999;
  font-size: 12px;
}

.search-box .search-hot-tuan li a:hover {
  color: #c40000;
  text-decoration: underline;
}

.search-text {
  padding: 6px 10px;
  width: 441px;
  height: 20px;
  font: 14px/20px "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1";
  color: #666;
  border: 0 none;
  outline: 0 none;
}

.search-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 75px;
  line-height: 32px;
  font: 16px/32px "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1";
  color: #fff;
  border: 0 none;
  background: #ec3639;
  outline: 0 none;
  cursor: pointer;
}

/* entry */
.quick-entry {
  float: right;
  margin: 0 0 0 65px;
  padding: 7px 0 0;
}

.quick-entry a {
  position: relative;
  float: right;
  margin: 0 0 0 20px;
  font: 14px/36px "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1";
  color: #333;
}

.quick-entry a:hover {
  text-decoration: none;
}

.quick-entry .ico {
  position: absolute;
  top: 0;
  left: 0;
  font: 0/0 arial;
  background: url(../src/img/img-index/head.png) no-repeat;
}

.quick-entry .cart {
  padding: 0 0 0 24px;
}

.quick-entry .cart .ico {
  top: 9px;
  width: 18px;
  height: 18px;
  background-position: 0 -211px;
}

.quick-entry .cart:hover .ico {
  background-position: -32px -211px;
}

.quick-entry .coupon {
  padding: 0 0 0 27px;
}

.quick-entry .coupon .ico {
  top: 9px;
  width: 22px;
  height: 18px;
  background-position: 0 -190px;
}

.quick-entry .coupon:hover .ico {
  background-position: -28px -190px;
}

.quick-entry .order {
  padding: 0 0 0 28px;
}

.quick-entry .order .ico {
  top: 8px;
  width: 20px;
  height: 20px;
  background-position: 0 -167px;
}

.quick-entry .order:hover .ico {
  background-position: -30px -167px;
}

.quick-entry .number {
  position: absolute;
  left: 12px;
  top: 1px;
  padding: 0 3px;
  height: 13px;
  font: 12px/13px "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1";
  color: #fff;
  background: #f33;
  border-radius: 10px;
}

.all-nav {
  border-bottom: 2px solid #e65757;
  margin-bottom: 10px;
}

.all-nav div {
  display: inline-block;
  margin-right: 20px;
  font-size: 18px;
}

.all-nav div:first-child {
  width: 160px;
  line-height: 37px;
  background: #e65757;
  text-align: center;
  color: #fff;
  font-size: 16px;
}

.all-nav div:nth-of-type(2) {
  color: red;
}

.all-bto a {
  font-size: 12px;
  margin-right: 8px;
  color: black;
}

.footer-service-relate .cooperation,
.footer-service-relate .hotline,
.hotline .weibo,
.partners .more {
  background: url(http://icon.zol-img.com.cn/newshop/shop/index/footer.png) no-repeat;
}

.footer {
  margin: 30px 0 0;
  border-top: 1px solid #d9d9d9;
}

.footer-service {
  padding: 30px 0;
  overflow: hidden;
}

.footer-service li {
  position: relative;
  float: left;
  width: auto;
  padding: 0 66px 0 71px;
  height: 50px;
  font: 18px/50px "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1";
}

.footer-service .iconfont {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 50px;
  line-height: 50px;
  color: #00ae75;
}

.footer-service .last {
  padding: 0 0 0 60px;
}

.footer-service a,
.footer-service a:hover {
  color: #333;
  text-decoration: none;
}

.footer-service-relate {
  padding: 20px 0;
  border-top: 1px solid #ededed;
}

.footer-service-relate dl {
  float: left;
  width: 175px;
}

.footer-service-relate dt {
  font: bold 14px/28px "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1";
  color: #666;
}

.footer-service-relate dd p {
  font: 12px/28px "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1";
  margin: 0;
}

.footer-service-relate .cooperation {
  width: 220px;
  background-position: 0 -215px;
}

.footer-service-relate .hotline {
  width: 240px;
  background-position: 0 -90px;
}

.footer-service-relate dd p a,
.footer-service-relate dd p a:hover {
  color: #666;
}

.footer-service-relate .cooperation,
.footer-service-relate .hotline {
  float: right;
  padding: 0 0 0 60px;
}

.footer-service-relate .cooperation dt,
.footer-service-relate .hotline dt {
  padding: 0;
  font-size: 16px;
}

.cooperation .btn {
  display: block;
  margin: 6px 0 0;
  width: 80px;
  height: 26px;
  font: 12px/26px SimSun;
  color: #fff;
  text-align: center;
  background: #f33;
  border-radius: 2px;
  padding: 0;
}

.cooperation .btn span {
  padding: 0 5px 0 0;
  font-family: "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1";
}

.cooperation .btn:hover {
  background: #c40000;
  color: #fff;
  text-decoration: none;
}

.hotline .weibo,
.hotline .weibo:hover {
  display: inline-block;
  padding: 0 0 0 26px;
  font: 12px/32px "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1";
  color: #333;
  background-position: 0 0;
}

.footer-nav-bar {
  padding: 25px 0 30px;
  background: #2d2d2d;
}

.footer-nav-bar .wrapper {
  position: relative;
}

.footer-nav {
  margin: 0 0 0 -10px;
  padding: 7px 0 0;
  font: 12px/24px "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1";
  color: #666;
}

.footer-nav a,
.footer-nav a:hover {
  margin: 0 10px;
  color: #fff;
  white-space: normal;
  word-break: keep-all;
}

.copyright {
  margin: 0 0 0 -10px;
  padding: 20px 0 0;
  font: 12px/24px "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1";
  color: #666;
}

.copyright span {
  padding: 0 0 0 15px;
  color: #999;
}

.copyright a,
.copyright a:hover {
  margin: 0 10px;
  color: #999;
  white-space: normal;
  word-break: keep-all;
}

.focus-area {
  position: absolute;
  top: 0;
  right: 0;
}

.focus-area .wechat {
  background-position: 0 -22px;
}

.focus-area .wechat img {
  vertical-align: middle;
}

.focus-area .weibo {
  margin: 0 40px 0 0;
  color: #fff;
  background-position: 0 -0;
  line-height: 21px;
}

.focus-area .wechat,
.focus-area .weibo {
  float: right;
  padding: 0 0 0 34px;
  background: url(http://icon.zol-img.com.cn/newshop/shop/index/icon.png) no-repeat;
}

/* 放大镜 */
.scale {
  margin: 50px;
  overflow: hidden;
}

.small {
  width: 300px;
  height: 300px;
  border: 1px solid #ccc;
  float: left;
  position: relative;
}

.movebox {
  position: absolute;
  background-color: rgba(255, 255, 0, 0.3);
  left: 0;
  top: 0;
  display: none;
  cursor: move;
}

.smallpic {
  width: 300px;
  height: 300px;
}

.big {
  width: 300px;
  height: 300px;
  float: left;
  overflow: hidden;
  border: 1px solid #ccc;
  margin-left: 10px;
  display: none;
  position: relative;
  z-index: 100;
}

.bigpic {
  width: 500px;
  height: 500px;
  position: absolute;
  z-index: 100;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.tabs {
  overflow: hidden;
  margin-left: 30px;
}

.tabs li {
  list-style: none;
  float: left;
  margin-left: 10px;
}

.tabs li img {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.text h3 {
  font-size: 16px;
}

.text h4 {
  font-size: 14px;
}

.zs-group-box {
  width: 530px;
  height: 48px;
  background-color: #c00;
  padding: 0 10px;
}

.zs-group-box .range-logo {
  float: left;
  height: 48px;
  overflow: hidden;
  vertical-align: middle;
}

.range-logo a {
  display: inline-block;
  height: 48px;
  background-repeat: no-repeat;
  background-position: left center;
  color: #fff;
  vertical-align: middle;
}

.range-logo .mall-logo {
  width: 125px;
  text-align: right;
  font-size: 18px;
  line-height: 46px;
  background-image: url(../src/img/img-index/mall.png);
  margin-left: -30px;
}

.range-logo .mall-logo:hover {
  color: #fff;
  text-decoration: none;
}

.range-logo .group-logo {
  width: 44px;
  background-image: url(../src/img/img-index/group.png);
}

.zs-price-panel {
  margin: 0 0 0;
  padding: 5px 10px;
  background: #f7f7f7;
}

.zs-price-panel dl {
  padding: 0 0 0 75px;
  position: relative;
  line-height: 30px;
  margin: 0;
}

.zs-price-panel dt {
  position: absolute;
  top: 0;
  left: 0;
  width: 65px;
  color: #666;
  line-height: 30px;
}

.zs-price-panel dd {
  overflow: hidden;
  line-height: 30px;
}

.zs-price-panel .original {
  font-size: 12px;
  text-decoration: line-through;
  color: #999;
  margin-left: 12px;
}

.zs-price-panel .save-icon {
  display: inline-block;
  height: 18px;
  line-height: 18px;
  padding: 0 3px;
  font-size: 12px;
  color: #fff;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  background-color: #c00;
  margin-left: 8px;
}

.zs-original-price .zs-price {
  text-decoration: line-through;
}

.zs-original-price .zs-price em {
  padding: 0 0 0 5px;
  font-family: tahoma;
}

.zs-service-bar li {
  float: left;
  margin-left: 10px;
}

.zs-sale-type {
  float: left;
  margin: 7px 10px 0 0;
  padding: 0 3px;
  background: #f66;
  color: #fff;
  padding: 2px 5px 0\9;
  line-height: 18px;
}

.zs-sale-tuan {
  float: left;
  margin: 7px 10px 0 0;
  color: #c00;
  line-height: 18px;
  border-bottom: 1px dotted #c00;
}

.zs-sale-tuan:hover {
  color: #c00;
  text-decoration: none;
}

.zs-sale-price .zs-price {
  float: left;
  margin: -2px 0 0;
  height: 32px;
  overflow: hidden;
  font-size: 16px;
  vertical-align: middle;
  color: #c00;
}

.zs-sale-price .zs-price em {
  padding: 0 0 0 5px;
  font-family: tahoma;
  font-size: 30px;
  font-weight: bold;
}

.zs-detail-infor {
  padding: 10px 0 20px;
}

.zs-detail-infor dl {
  position: relative;
  zoom: 1;
}

.zs-detail-infor dt {
  position: absolute;
  top: 0;
  left: 0;
  height: 32px;
  line-height: 32px;
  color: #666;
}

.zs-detail-infor dd {
  padding: 0 0 0 65px;
  line-height: 32px;
}

.zs-freight {
  margin: 0 10px;
  z-index: 2;
}

.zs-freight-area {
  float: left;
  position: relative;
}

.zs-freight-area span {
  padding: 0 7px;
  display: inline-block;
}

.zs-skin-inner {
  margin: 10px 0px 15px;
  border-top: 1px solid #f2f2f2;
}

.zs-skin-inner .zs-hd {
  display: none;
  position: relative;
  zoom: 1;
  margin: 0 -8px;
  padding: 0 10px;
  height: 34px;
  font: 12px/34px "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1";
  color: #666;
  background: #fff8f7;
  border-bottom: 1px solid #f5e8e6;
}

.zs-skin-inner .zs-hd .zs-close {
  position: absolute;
  top: 8px;
  right: 10px;
  width: 17px;
  height: 17px;
  font: 0/0 arial;
  background-position: -42px -263px;
  overflow: hidden;
  cursor: pointer;
}

.zs-skin-inner button:nth-of-type(1) {
  width: 140px;
  height: 50px;
  color: #fff;
  background: #c00;
  border: 0;
  font-size: 18px;
}

.zs-skin-inner button:nth-of-type(1):hover {
  background: #b90000;
}

.zs-skin-inner button:nth-of-type(2) {
  width: 138px;
  height: 48px;
  border: 1px solid #ffd9d9;
  background-color: #ffeded;
  color: #c00;
  line-height: 48px;
  font-size: 18px;
}

.zs-skin-inner button:nth-of-type(2):hover {
  background: pink;
}

.zs-confirm-btn {
  display: none;
  float: left;
  margin: 0 0 10px;
  width: 100px;
  height: 40px;
  font: 16px/40px "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1";
  background: #c00;
  color: #fff;
  text-align: center;
}

.zs-confirm-btn:hover {
  background: #b90000;
  color: #fff;
  text-decoration: none;
}

.zs-quantity {
  padding: 20px 0 0;
}

.zs-quantity dt {
  top: 20px;
}

.zs-quantity dd {
  color: #999;
}

.zs-quantity .zs-part {
  float: left;
  padding: 0 10px 0 0;
}

.zs-quantity .zs-goods-number-tips {
  float: left;
  padding: 0 0 0 22px;
  white-space: nowrap;
  color: #c00;
  background-position: -42px -256px;
}

.amount-widget {
  float: left;
  margin: 0 10px 0 0;
  width: 102px;
  height: 28px;
  border: 1px solid #e6e6e6;
}

.zs-increase,
.zs-no-increase,
.zs-decrease,
.zs-no-decrease {
  background: url(http://icon.zol-img.com.cn/newshop/shop/detail/youdian_v1/bg.png) no-repeat;
  float: left;
  width: 28px;
  height: 28px;
  background-color: #f8f8f8;
  cursor: pointer;
}

.zs-increase {
  background-position: -32px -169px;
}

.zs-no-increase {
  background-position: -32px -197px;
}

.zs-decrease {
  background-position: 0 -169px;
}

.zs-no-decrease {
  background-position: 0 -197px;
}

.zs-goods-number {
  float: left;
  width: 44px;
  height: 28px;
  text-align: center;
  font: 12px/28px "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1";
  border: 0 none;
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  color: #333;
}

.products {
  width: 800px;
  margin: 20px auto;
}

.products .pro-nav {
  overflow: hidden;
}

.products .pro-nav > li {
  float: left;
  font-size: 14px;
}

.products .pro-nav > li:nth-of-type(1) a {
  border-top: 2px solid red;
  border-bottom: 0;
}

.products .pro-nav > li a {
  display: block;
  line-height: 33px;
  color: black;
  padding: 0 15px;
  border: 1px solid #ccc;
}

.products > span {
  display: inline-block;
}

.products > span:nth-of-type(1) {
  font-weight: bold;
}

.products .pro-bg {
  margin: 10px 0;
  height: 33px;
  background: url(../src/img/img-index/new.png);
}

.products .pro-bg span {
  font-size: 20px;
}

.products .pro-bg span:nth-of-type(1) {
  color: red;
  display: inline-block;
  width: 170px;
  text-align: center;
}

.products .pro-bg span:nth-of-type(2) {
  padding-left: 50px;
  color: #fff;
}

.right {
  position: fixed;
  right: 50px;
  top: 240px;
}

.right a {
  display: block;
  width: 80px;
  padding: 41px 0 11px;
  border: 1px solid #ccc;
  text-align: center;
  font-size: 14px;
  color: #333;
  background: url(../src/img/img-index/bg.png) no-repeat;
  text-decoration: none;
}

.right a:nth-child(1) {
  background-position: 50% -976px;
}

.right a:nth-child(2) {
  background-position: 50% -1056px;
}

.right a:hover {
  background-color: pink;
}

.right-bk {
  position: fixed;
  right: 0;
  top: 0;
  background: black;
  width: 37px;
  height: 100%;
  padding-top: 100px;
}

.right-bk a {
  display: block;
  width: 37px;
  height: 37px;
  color: #fff;
  background: url(../src/img/img-index/bar_ico.png) no-repeat;
  margin-top: 10px;
  overflow: hidden;
}

.right-bk a span {
  font-size: 0;
  text-align: center;
  position: absolute;
  right: 30px;
  background: #ec3639;
  display: block;
  overflow: hidden;
  width: 0;
  line-height: 37px;
}

.right-bk a:nth-child(2) {
  background-position: 0 -74px;
}

.right-bk a:nth-child(3) {
  background-position: 0 -111px;
}

.right-bk a:nth-child(4) {
  background-position: 0 -693px;
}

.right-bk a:nth-child(5) {
  position: absolute;
  bottom: 0;
  background-position: 0 -185px;
}

.right-bk a:hover {
  background-color: #ec3639;
}

.right-bk a:hover span {
  width: 70px;
  font-size: 12px;
}
