@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

body {
  font: 12px/1.5 Arial;
  color: #333;
}

select,
input,
button {
  vertical-align: middle;
}

ul,
ol {
  list-style: none;
}

em {
  font-style: normal;
}

/* 清浮动 */
.clearfix:after {
  content: ".";
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
  font-size: 0;
}

/* global */
a {
  color: #134ba0;
  text-decoration: none;
}

a:hover,
.download-list a:hover,
.footer .about a:hover,
.header .about a:hover {
  color: #c00;
  text-decoration: underline;
}

.login-index {
  background: #fafafa;
}

.login-index .footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.wrapper {
  width: 990px;
  margin: 50px auto;
}

input:focus {
  outline: none;
}

/* bg */
.login-layer-btn,
.submit-loading,
.login-foot .sina,
.login-foot .qq,
.login-foot .alipay,
.login-foot .baidu,
.login-wrong-tips,
.case-tips .ico,
.form-item .remove,
.register-btn {
  background: url(../src/img/img-index/bg-sp.png) no-repeat;
}

.download-list a,
.fast-login-list a,
.register-tab span,
.get-captcha,
.register-form .right-tips,
.register-form .wrong-tips {
  background: url(../src/img/img-index/bg-sp2.png) no-repeat;
}

/* header */
.header {
  padding: 20px 0;
  padding-top: 14px;
}

.header .about {
  float: right;
  margin: 0 -10px 0 0;
  padding: 23px 0 0;
  color: #ccc;
}

.header .about a {
  margin: 0 10px;
  color: #666;
}

.header .logo a {
  float: left;
}

.header .logo a:hover {
  color: #666;
  text-decoration: none;
}

.header .logo a img {
  float: left;
}

.header .logo p {
  float: left;
  margin: 8px 0 0 8px;
  padding-left: 10px;
  font: 14px/44px simsun;
  color: #666;
  border-left: 1px solid #e6e6e6;
  cursor: pointer;
}

.logo {
  float: left;
}

/* footer */
.footer {
  margin: 50px 0 0;
  padding: 12px 0 25px;
  border-top: 1px solid #dcdcdc;
  background: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.footer .about {
  float: left;
  margin: 0 0 0 -10px;
  color: #ccc;
}

.footer .about a {
  margin: 0 10px;
  color: #666;
}

.copyright {
  float: right;
  color: #666;
}

/* login-wrap*/
.login-wrap {
  margin: 30px 0 0;
  border: 1px solid #e6e6e6;
  background: #fff;
  margin-top: 26px;
}

.login-wrap .ad-div {
  float: left;
}

.login-wrap .ad-div img {
  display: block;
}

.login-layer {
  float: right;
  padding: 0 85px 0 0;
  width: 290px;
}

.login-head {
  position: relative;
  zoom: 1;
  padding: 20px 0 0;
  border-bottom: 2px solid #e6e6e6;
}

.login-head h3 {
  display: block;
  width: 50%;
  float: left;
  height: 35px;
  overflow: hidden;
  font: 18px/35px "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1";
  color: #666;
  text-align: center;
  margin-bottom: -2px;
  cursor: pointer;
}

.login-head h3.curLogin {
  border-bottom: 2px solid #de3030;
  color: #333;
}

.login-head .reg-now {
  position: absolute;
  top: 23px;
  right: 0;
  font: 12px/28px "Arial";
}

.login-content {
  padding: 25px 0 0;
  position: relative;
  zoom: 1;
}

.form-item {
  position: relative;
  margin: 0 0 7px;
  padding: 8px 5px;
  height: 22px;
  border: 1px solid #ccc;
}

.form-item .label {
  position: absolute;
  top: 8px;
  left: 5px;
  font: 14px/22px "Arial";
  color: #aaa;
}

.form-item .text {
  display: block;
  width: 278px;
  height: 22px;
  font: 14px/22px "Arial";
  border: 0 none;
}

.form-item .remove {
  position: absolute;
  top: 9px;
  right: 6px;
  display: none;
  width: 21px;
  height: 21px;
  background-position: -157px -107px;
  cursor: pointer;
}

.form-item-wrong {
  border: 1px solid #f33;
}

.form-other {
  padding: 0 0 10px;
  overflow: hidden;
  zoom: 1;
}

.form-other a {
  float: right;
}

.form-other a:hover {
  color: #c00;
}

.form-other .otherLogin-bar {
  float: left;
  padding: 0 0 0 17px;
  background: url(../src/img/img-index/bg-sp3.png) no-repeat -276px -137px;
  color: #333;
  line-height: 28px;
}

.form-other .otherLogin-bar:hover {
  color: #c00;
}

.form-other .mobileLogin-bar {
  background-position: -280px -113px;
}

.form-other .forget-password {
  line-height: 28px;
}

.autologon {
  float: left;
  color: #999;
}

.autologon input {
  margin: 0 8px 0 0;
  margin: -1px 5px 0 -3px;
}

.login-layer-btn,
.submit-loading {
  display: block;
  margin: 0 0 10px;
  width: 290px;
  height: 40px;
  font: bold 14px/40px "Arial";
  color: #fff;
  text-align: center;
  border: 0 none;
  background-position: 0 0;
}

.login-layer-btn {
  cursor: pointer;
}

.login-layer-btn:hover {
  background-position: 0 -41px;
}

.username {
  z-index: 2;
  margin: 0 0 10px;
}

.login-foot {
  margin: 10px 0 0;
}

.login-foot span {
  float: left;
  font: 12px/38px "Arial";
  color: #666;
  padding: 0 2px 0 0;
}

.login-foot .sina {
  background-position: 0 -82px;
}

.login-foot .sina:hover {
  background-position: 0 -121px;
}

.login-foot .qq {
  background-position: -39px -82px;
}

.login-foot .qq:hover {
  background-position: -39px -121px;
}

.login-foot .alipay {
  background-position: -78px -82px;
}

.login-foot .alipay:hover {
  background-position: -78px -121px;
}

.login-foot .baidu {
  background-position: -117px -82px;
}

.login-foot .baidu:hover {
  background-position: -117px -121px;
}

.login-foot .weixin {
  float: left;
  margin: 0 12px 0 25px;
  width: 38px;
  height: 38px;
  text-indent: -9999em;
  overflow: hidden;
  background: url(../src/img/img-index/weixin-bgs2.png) 0 0 no-repeat;
}

.login-foot .weixin:hover {
  background: url(../src/img/img-index/weixin-bgs2.png) 0 -38px no-repeat;
}

.login-foot .sina,
.login-foot .qq,
.login-foot .alipay,
.login-foot .baidu {
  float: left;
  margin: 0 12px 0 0;
  width: 38px;
  height: 38px;
  text-indent: -9999em;
  overflow: hidden;
}

/* register-wrap login */
.register-wrap {
  padding: 0 0 100px;
  border: 1px solid #e6e6e6;
  width: 980px;
  margin: auto;
}

.register-wrap .title {
  padding: 16px 0 16px 90px;
  background: #fafafa;
  font: 18px/28px "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1";
  color: #999;
}

.register-module {
  float: left;
  padding: 30px 0 0 89px;
  width: 500px;
}

.register-tab {
  height: 39px;
  border-bottom: 1px solid #e6e6e6;
}

.register-tab li {
  float: left;
  position: relative;
  margin: 0 -1px;
  width: 250px;
  border: 1px solid #e6e6e6;
  border-bottom: 0 none;
  background: #fafafa;
  text-align: center;
  cursor: pointer;
}

.register-tab .current {
  margin: 0 -1px -1px;
  padding: 0 0 2px;
  border-top: 2px solid #e02d2d;
  background: #fff;
  cursor: default;
}

.register-tab .current span {
  color: #c00;
  line-height: 36px;
}

.register-tab .current .phone-number {
  background-position: -158px -235px;
}

.register-tab span {
  display: inline-block;
  font: 18px/38px "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1";
}

.register-tab .phone-number {
  padding: 0 0 0 20px;
  background-position: -158px -281px;
}

.register-phone-number {
  padding: 30px 0 0;
}

.register-form {
  position: relative;
  margin: 0 0 42px;
  padding: 0 0 0 83px;
  zoom: 1;
}

.register-form .label {
  position: absolute;
  top: 0;
  left: 0;
  width: 83px;
  font: 14px/40px "Arial";
  text-align: right;
  color: #666;
}

.register-form .label .xh {
  padding: 0 7px 0 0;
  font-size: 12px;
  font-family: "Simsun";
  color: #f30;
}

.register-form .text {
  display: block;
  margin: 0 10px 0 0;
  padding: 8px 5px;
  width: 278px;
  height: 22px;
  border: 1px solid #ccc;
}

.register-form .wrong-text {
  border: 1px solid #ff3333;
  background: #fff2f2;
}

.register-form .sms-captcha .text {
  float: left;
  width: 158px;
}

.register-form .tips {
  position: absolute;
  top: 47px;
  left: 83px;
  color: #aaa;
}

.register-form .right-tips {
  position: absolute;
  top: 12px;
  left: 383px;
  width: 15px;
  height: 15px;
  font: 0/0 "Arial";
  background-position: -155px -162px;
}

.register-form .wrong-tips {
  position: absolute;
  top: 0;
  left: 383px;
  padding: 0 0 0 20px;
  font: 12px/40px "Arial";
  color: #ff3333;
  background-position: -155px -184px;
  white-space: nowrap;
}

.register-form .wrong-tips a {
  margin: 0 6px;
}

.register-form .account-list {
  top: 40px;
  left: 0;
}

.get-captcha {
  float: left;
  width: 110px;
  height: 40px;
  border: 0 none;
  background-position: 0 -148px;
  font: 12px/40px "Arial";
  color: #666;
  cursor: pointer;
  background: #f8f8f8;
  border: 1px solid #ccc;
}

.get-captcha:hover {
  background: #f2f2f2;
}

.agreement {
  display: block;
  padding: 0 0 0 83px;
  height: 32px;
  font: 12px/32px "Arial";
  color: #999;
}

.agreement input {
  margin: 0 8px 0 0;
  margin: -1px 5px 0 -3px;
}

.register-btn {
  display: block;
  margin: 20px 0 0 83px;
  width: 290px;
  height: 40px;
  font: bold 14px/40px "Arial";
  color: #fff;
  text-align: center;
  border: 0 none;
  background-position: 0 0;
  cursor: pointer;
}

.register-btn:hover {
  background-position: 0 -41px;
}

.captcha-img {
  float: left;
  margin: 0 10px 0 0;
}

.captcha-img img {
  display: block;
  border: 1px solid #ccc;
}

/*register-bar*/
.register-bar {
  float: right;
  padding: 21px 0 0;
  font-size: 14px;
  line-height: 22px;
  *width: 220px;
}

.register-bar a {
  float: right;
  height: 16px;
  padding: 3px 10px;
  color: #c00;
  font: normal 14px/14px "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1";
}

.register-bar a:hover {
  color: #fff;
  background-color: #cd1f1f;
  text-decoration: none;
}

/* reg*/
.collaborate {
  width: 290px;
  text-align: center;
  margin-top: 15px;
  color: #666666;
}

.collaborate p {
  float: left;
}

.xian {
  float: left;
  height: 1px;
  background: #f0f0f0;
  width: 100px;
  margin-top: 7px;
}

.xian:first-child {
  margin-right: 9px;
}

.xian:last-child {
  margin-left: 9px;
}

.layer {
  position: fixed;
  left: 50%;
  top: 30%;
  width: 390px;
  border: 5px solid #6b6b6b;
  margin: 0 0 0 -200px;
  background-color: #fff;
  z-index: 3;
}

/*login-head reg*/
.login-select {
  display: block;
}
